body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
h2{
    text-align: center;
}
.form{
    border-radius: 5px;
    padding: 1%;
    background-color: #f5f5f5;
    width: 35vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 10px;
}

.copy-right{
    margin-top: 5px;
    text-align: center;
}

.show{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

.hide{
    display: none;
}

.custom-button{
    background-color: #2e2c2b;
    color: #ffffff;
}
.custom-button:hover{
    color: #ffffff;
}
